---
import { getFlash } from "~/server/flash-message";

const flash = getFlash(Astro);
---

{
  flash !== undefined && (
    <div
      id="flash-message"
      class="toast toast-bottom sm:toast-top toast-center z-1000 max-w-full sm:max-w-xl"
    >
      <div
        class:list={[
          "alert max-sm:text-center",
          flash.type === "success" && "alert-success",
          flash.type === "error" && "alert-error",
        ]}
      >
        <span class="line-clamp-2">{flash.message}</span>
      </div>
    </div>
  )
}

<style>
  #flash-message {
    --toast-slide-to: 120px;
    @media (width > 40rem /* 640px */) {
      --toast-slide-to: -120px;
    }
  }

  @keyframes hide-toast {
    0% {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
    100% {
      opacity: 0;
      transform: scale(0.5) translateY(var(--toast-slide-to));
    }
  }
</style>

<script>
  const hideToast = () => {
    const toast = document.getElementById("flash-message");
    if (!(toast instanceof HTMLElement)) return;

    setTimeout(() => {
      toast.addEventListener("animationend", () => toast.remove());
      toast.style.animation =
        "hide-toast 250ms cubic-bezier(0.42, 0, 1.0, 1.0)";
    }, 5000);
  };

  document.addEventListener("astro:after-swap", hideToast);
  hideToast();
</script>
