---
import "~/styles/global.css";
import "unpoly/unpoly.css";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<html lang="en" transition:animate="none">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex min-h-screen min-w-screen flex-col antialiased">
		<slot />

		<div up-flashes class="toast toast-end md:toast-top md:toast-center">
			<slot name="flash" />
		</div>
	</body>
</html>

<script>
	import "iconify-icon"; // <iconify-icon> web component
	import "unpoly"; // unpoly
</script>

<script is:inline>
	document.addEventListener("DOMContentLoaded", () => {
		// https://unpoly.com/flashes#clearing-after-delay
		up.compiler("[up-flashes] > *", function (message) {
			setTimeout(() => up.destroy(message, { animation: "fade-out" }), 5000);
		});
	});
</script>
