<label
  for="theme-toggle"
  aria-label="toggle theme"
  class="toggle text-base-content"
>
  <input id="theme-toggle" type="checkbox" class="theme-controller" />

  <iconify-icon icon="lucide:sun" width="12"></iconify-icon>
  <iconify-icon icon="lucide:moon-star" width="12"></iconify-icon>
</label>

<script>
  const THEME_LOCAL_STORAGE_KEY = "app-theme";
  const DARK_THEME = "dim";
  const LIGHT_THEME = "cupcake";

  const initializeThemeToggle = () => {
    const themeToggle = document.getElementById(
      "theme-toggle"
    ) as HTMLInputElement;
    themeToggle.checked =
      localStorage.getItem(THEME_LOCAL_STORAGE_KEY) === DARK_THEME;

    const toggleTheme = () => {
      const isDark = themeToggle.checked;
      const theme = isDark ? DARK_THEME : LIGHT_THEME;
      localStorage.setItem(THEME_LOCAL_STORAGE_KEY, theme);
      document.documentElement.dataset.theme = theme;
    };

    themeToggle.addEventListener("input", toggleTheme);
    toggleTheme();
  };

  document.addEventListener("astro:after-swap", initializeThemeToggle);
  initializeThemeToggle();
</script>
